#root {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.userInput {
	width: 100%;
	/* max-width: 400px; */
	line-height: 30px;
	border-radius: 5px;
	/* margin: 20px 0px 10px 0px; */
	border: none;
	padding: 10px;
	justify-self: flex-end;
}

input:focus {
	outline: none;
}

.botIcon {
	/* background-color: #16344e; */
	background-color: #e9e9e9;
	border-radius: 50%;
	padding: 10px;
	width: 100px;
	height: 100px;
	margin: 50px 0px 50px 0px;
}

.inputBox {
	height: auto;
	resize: both;
}

.chatIcon {
	width: 50px;
	height: 50px;
	padding: 6px;
	/* z-index: 2; */
}

.userInput1 {
	width: 90%;
	/* line-height: 30px; */
	border-radius: 5px;
	/* margin: 0px 0px 10px 0px; */
	border: none;
	/* padding: 10px; */
}

.userOutput {
	width: 80%;
	line-height: 30px;
	border-radius: 5px;
	margin: -40px 20px 10px 0px;
	border: none;
	padding: 10px;
	z-index: -1;
	text-align: left;
}

.botOutput {
	width: 80%;
	line-height: 30px;
	border-radius: 5px;
	margin: -40px 0px 10px 20px;
	border: none;
	padding: 10px;
	z-index: -1;
	text-align: left;
}

.mainContainer {
	width: 100%;
}

.footer {
	position: sticky;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	z-index: 100;
}

.spinnerContainer {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

.spinnerOverlay {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(1, 1, 1, 0.3);
	backdrop-filter: blur(2px);
	z-index: 9999;
}

.lspinner {
	width: 80px;
	height: 80px;
}
